<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="ui.Perspective"
            id="com.flylb.rap.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="TSP.branding"
            class="ui.MyEntryPoint"
            id="com.flylb.rap.EntryPoint"
            path="/TSP">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ui.AboutView"
            icon="icons/license.gif"
            id="AboutView"
            name="About"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="ui.TSView"
            icon="icons/bin.gif"
            id="TSView"
            name="BitStream"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="ui.SettingView"
            icon="icons/setting.gif"
            id="SettingView"
            name="Setting"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="ui.SyntaxView"
            icon="icons/syntax.gif"
            id="SyntaxView"
            name="Syntax"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="ui.ThirdAppView"
            icon="icons/thirdApp.gif"
            id="ThirdAppView"
            name="ThirdApp"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="ui.HelpView"
            icon="icons/help.gif"
            id="HelpView"
            name="Help"
            restorable="false">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="icons/bin.gif"
            id="TSP.branding"
            themeId="TSP.theme"
            title="TS Parser">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/business/business.css"
            id="TSP.theme"
            name="TSP.theme">
      </theme>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="TSP">
         <property
               name="appName"
               value="TSP">
         </property>
      </product>
   </extension>
</plugin>
